{{ define "main" }}

<div class="flex flex-column items-center justify-center">
        <h1 class="ma3 mt4 ttc f-headline">{{ .Title }}</h1>
        <h2 class="ma3 mb4 ttc measure-narrow tc f2">{{ .Summary }}</h2>
</div>

{{ $sections := split .Content "+++" }}

<div class="f5 tl center w-50">
    {{ index $sections 0 | safeHTML }}
</div>

<div class="flex flex-column items-center justify-center">
    <div class="w-50">
        {{ index $sections 1 | safeHTML }}
    </div>
</div>

<div class="f5 tl center mt4 w-50">
    {{ index $sections 2 | safeHTML }}
</div>

{{ end }}